shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
prefer-workspace-packages=true
recursive-install=true
save-workspace-protocol=rolling
resolution-mode=highest
enable-pre-post-scripts=true
side-effects-cache=true
package-import-method=copy
